@font-face {
  font-family: "Chloe";
  src: url("/fonts/Chloe-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Magenta";
  src: url("/fonts/Magenta-Demo-BF64d1ba62aef84.ttf") format("truetype");
}

html {
  font-size: 100%;
  font-kerning: auto;
}
span {
  font-size: 1.4em;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
p {
  font-weight: 100;
}
nav {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  color: gray;
}
nav ul li a:hover {
  text-transform: uppercase;
  color: darkcyan;
}
h1, h2 {
  font-family: "Chloe", sans-serif;
}
/* //jumbotron// */

.Hi5-logo {
  opacity: 15%;
  scale: 0.15;
}
#banner {
  position: relative;
}
#banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  background-image: url("/images/HI5 BW LOGO@4x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 20%;
}
#problem {
  max-width: 2/3;
  text-align: center;
  background-color: white;
}
/* Carousel */
.carousel-item {
  position: relative;
}
.carousel-caption {
  color: gray;
}
.carousel-indicators {
  color: gray;
}
#carouselExampleCaptions {
  color: gray;
}
#data-slide-to li {
  color: gray;
}
.active {
  color: gray;
}